body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  height: 100vh; /* vh = viewport height. 1vh = 1% of the viewports height.
  i.e. if viewport is 800pixels 1vh = 8 pixels & 100vh = full height of viewport */

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

#count {
  font-size: 30px;
  min-width: 40px;
}

.reset-btn {
  background: #ff5555;
  color: white;
  border: none;
  border-radius: 5px;
}
